.alerts-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    width: auto;
    margin: 20px;
}

.theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: transform 0.3s ease;
}

.theme-button:hover {
    transform: scale(1.1);
}

.icon {
    width: 24px;
    height: 24px;
}

/* Default light theme styles for text inputs and text areas */
input, select, textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
}

/* Dark theme styles for text inputs and text areas */
[data-theme="dark"] input, [data-theme="dark"] select, [data-theme="dark"] textarea {
    /* background-color: #333333; */
    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: 1px solid #555;
}


/* .copy-hover-effect {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 8px;
    transition: transform 0.3s ease;
    z-index: 999;
}

.copy-hover-effect:hover {
    transform: scale(1.05);
} */

.results-div {
    width: 300px;      /* Adjust the width as needed */
    height: 300px;     /* Adjust the height as needed */
    overflow: auto;    /* This makes the div scrollable */
}

#resultContainer p {
    font-family: 'Arial', sans-serif; /* Example font */
    line-height: 1.6;
    letter-spacing: 0.5px;
}


#text-entry {
    transition: filter 0.3s ease;
}

#text-entry:hover {
    filter: brightness(125%);
}


/* .copy-hover-effect {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 8px;
    transition: transform 0.3s ease;
    z-index: 999;
}

.copy-hover-effect:hover {
    transform: scale(1.05);
} */


.score-circle {
    display: inline-block;
    width: 15px; /* Circle size */
    height: 15px;
    /* border-radius: 50%; */
    margin-left: 10px;
    vertical-align: middle;
}

.score-circle:hover {
    filter: brightness(125%);
}



.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}


.copy-icon{
    padding-bottom: 5px;
}
