{% extends "base.html.jinja" %}

{% block title %}
About
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1>About Gita API</h1>
    <p>The Gita API seeks provide granular programmatic access to the text of the Bhagavad Gita ("The Song of God"), one of Hinduism's foundational religious texts with a significant following by non-Hindu peoples, especially academics. We ask you to register an account to help us understand usage trends, prevent abuse of the API, and meet generally-accepted best practices for API design. Beyond your email, we will not ask you for any personal information, nor provide any of this information to commercial third parties. For more information about the application, see the source code at <a href="https://github.com/signebedi/gita-api">https://github.com/signebedi/gita-api</a>.</p>

</div>


{% endblock %}



{% block scripts %}
{% endblock %}
