{% extends "base.html.jinja" %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>User Profile</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{ current_user.email }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ current_user.username }}</td>
                </tr>
                <tr>
                    <td>Account Status</td>
                    <td>{{ 'Active' if current_user.active else 'Inactive' }}</td>
                </tr>
                <tr>
                    <td>Account Created</td>
                    <td>{{ current_user.created_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                <tr>
                    <td>Last Login</td>
                    <td>{{ current_user.last_login.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                <tr>
                    <td>Last Password Change</td>
                    <td>{{ current_user.last_password_change.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                <tr>
                    <td>API Key</td>
                    <td onclick="copyToClipboard(this)">
                        <span id="apiKey">{{ current_user.api_key }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Function to copy to clipboard and show tooltip
    function copyToClipboard(element) {
        // Copying to clipboard
        var text = element.querySelector('#apiKey').innerText;
        var elem = document.createElement("textarea");
        document.body.appendChild(elem);
        elem.value = text;
        elem.select();
        document.execCommand("copy");
        document.body.removeChild(elem);

        // Tooltip activation
        var tooltip = new bootstrap.Tooltip(element, {
            title: "Copied!",
            trigger: "manual" // Manually trigger the tooltip
        });
        
        tooltip.show(); // Show the tooltip

        // Hide tooltip after 2 seconds
        setTimeout(function() {
            tooltip.hide();
        }, 2000);
    }
</script>

{% endblock %}
